# [Python Reference Link](http://www.data8.org/sp20/python-reference.html)
*Run the cell below so that we can set our modules up*

In [1]:
import numpy as np
from datascience import *
import math

# Order of Operations with tables

Let's run the cell below and take a look at the following movie dataset:

In [9]:
movies = Table.read_table('Movies - Cleaned.csv')
movies.show(10)

## Question: How many movies in this data set were sequels?

## How many movies had sequels that were rated higher than the original? On average, do they perform better, or worse?

## Challenge!

Let's suppose that you had the movies data stored in a USB Drive. You know how computers almost always scream at you for yanking out the USB Drive before you 'eject' it? Usually, nothing happens...

But in this situation, let's say it does and you get the following table below:

### Question: How can we use our methods to re-order our rows back to their original state? We unfortunately lost the columns for good... :(

In [ ]:
...